$primaryFont: "Kyiv Type Sans";

$borderRadius: 8px;

$lightBoxShadow: rgba(0, 0, 0, 0.25);
$darkBoxShadow: rgba(0, 0, 0, 0.5);
$boxShadow: 0 0 48px 1px light-dark($lightBoxShadow, $darkBoxShadow);

$maxWidthDesktop: 700px;
$maxWidthDesktopWide: 75%;
$maxWidthMobile: 90%;

$fontVarNormal: "wght" 400, "CONT" 1;
$fontVarThin: "wght" 1000, "CONT" 1000;

$scaleOnHover: 1.05;

$minMaxWidth: 1030px;
$makeNavBackgroundWidth: $minMaxWidth;
:root {
  --minMaxWidth: 1030px;

  --theme: light dark;

  --text-color: light-dark(black, white);
  --background-color: light-dark(#e5e5ea, rgb(36, 36, 38));
  --faded-color: #817e83;
  /* --accent-color: light-dark(#6320ee, #8075ff); */
  /* --accent-color: light-dark(rgb(255, 59, 48), rgb(255, 69, 58)); */
  --accent-color: light-dark(rgb(0, 122, 255), rgb(10, 132, 255));
  /* --accent-color: light-dark(rgb(0, 122, 255), rgb(10, 132, 255)); */

  --h0: calc(var(--h1) * 1.5);
  --h1: 2.986rem;
  --h2: 2.488rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --h5: 1.44rem;
  --h6: 1.2rem;
  --p: 1rem;
  --small: 0.833rem;
  --smaller: calc(var(--small) / 1.25);
}

// wrappers

.homeWrapper {
  max-width: $maxWidthDesktopWide;
  margin: auto;

  display: flex;

  gap: 8rem;

  .left {
    margin-top: 8rem;
    margin-bottom: 8rem;

    display: grid;
    gap: 0.25rem;

    height: fit-content;

    .tile {
      padding: 1rem;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      white-space: nowrap;
      justify-content: space-between;
      gap: 2rem;

      transition: scale 0.25s, box-shadow 0.25s, color 0.25s;

      font-variation-settings: $fontVarNormal;

      .title {
        transition: font-variation-settings 0.5s;
        white-space: nowrap;
      }

      &:hover {
        cursor: pointer;

        box-shadow: $boxShadow;
        color: var(--accent-color);
        scale: $scaleOnHover;

        .title {
          font-variation-settings: $fontVarThin;
        }
      }
    }
  }

  .right {
    width: 100%;
    height: 100dvh;

    position: sticky;

    top: 0;

    display: grid;
    justify-content: center;
    align-items: center;

    .bulletPoint {
      font-weight: 1000;
    }

    .name {
      gap: 1rem;
      display: flex;
      width: fit-content;
      white-space: nowrap;
    }

    .links {
      display: flex;
      gap: 1rem;
    }

    .preview {
      position: absolute;

      pointer-events: none;

      z-index: 1;

      opacity: 0;
      visibility: hidden;
      scale: 0.95;

      img, video {
        border-radius: $borderRadius;
        width: 100%;
        height: auto;
        box-shadow: $boxShadow;
      }

      .architecture {
        display: flex;
        justify-content: center;

        gap: 0.5rem;

        margin-top: 0.5rem;

        flex-wrap: wrap;

        .item {
          border-radius: $borderRadius;

          display: flex;
          gap: 0.5rem;

          align-items: center;
          justify-content: center;

          padding: 0.5rem 0.75rem;

          box-shadow: $boxShadow;

          text-align: center;
          white-space: nowrap;

          background-color: var(--background-color);

          .icon {
            display: flex;
          }
        }
      }
    }
  }
}

.projectWrapper {
  max-width: $maxWidthDesktop;

  padding: 8rem 0;
  margin: auto;

  display: grid;

  .mobileBackToHomeButton {
    align-items: center;
    width: fit-content;
    padding-bottom: 1rem;
    gap: 0.75rem;

    font-variation-settings: $fontVarNormal;
    transition: font-variation-settings 0.5s, color 0.25s, scale 0.25s;

    &:hover {
      scale: $scaleOnHover;
      color: var(--accent-color);
      cursor: pointer;
      font-variation-settings: $fontVarThin;
    }
  }

  .bottomNav {
    display: flex;
    justify-content: center;

    a {
      text-align: center;
      justify-self: center;

      display: grid;

      gap: 0.25rem;
      margin-top: 4rem;
      width: fit-content;

      font-variation-settings: $fontVarNormal;
      transition: color 0.25s, scale 0.25s, font-variation-settings 0.5s;

      &:hover {
        color: var(--accent-color);
        scale: $scaleOnHover;
        cursor: pointer;
        font-variation-settings: $fontVarThin;
      }
    }
  }

  .content {
    display: grid;
    gap: 4rem;

    img {
      box-shadow: $boxShadow;
    }
  }

  .header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    .title {
      text-align: center;
    }

    .nextPrevButton {
      transition: scale 0.25s, color 0.25s;

      &:hover::before {
        content: attr(data-tooltip);
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, 0.5rem);
        color: var(--text-color);
        padding: 0.5rem;
        font-size: var(--smaller);
        pointer-events: none;
        font-weight: 400;
        white-space: nowrap;
        border-radius: $borderRadius;
      }

      &:hover {
        color: var(--accent-color);
        scale: $scaleOnHover;
        cursor: pointer;
      }

      span {
        transition: font-variation-settings 0.5s;
        font-variation-settings: $fontVarNormal;
      }

      &:hover span {
        font-variation-settings: $fontVarThin;
      }
    }
  }

  .architecture {
    display: flex;

    justify-content: center;

    column-gap: 0.5rem;

    margin-left: 0;
    padding-left: 0;

    flex-wrap: wrap;

    margin-top: 2rem;
    margin-bottom: 4rem;

    gap: 1rem;

    .item {
      border-radius: $borderRadius;
      box-shadow: $boxShadow;

      display: flex;
      gap: 0.5rem;

      align-items: center;
      justify-content: center;

      padding: 0.5rem 0.75rem;

      white-space: nowrap;

      flex: 1;

      .icon {
        display: flex;
      }
    }
  }

  .paragraph {
    line-height: 2rem;

    text-align: justify;
  }

  .links {
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;

    white-space: nowrap;
    flex-wrap: wrap;

    justify-content: space-around;
  }

  .imageContainer {
    display: grid;

    gap: 2rem;

    img {
      border-radius: $borderRadius;
      height: auto;
      width: 100%;
    }
  }
}

.aboutWrapper {
  max-width: $maxWidthDesktopWide;

  margin: auto;
  padding: 8rem 0;

  display: flex;
  flex-direction: column;
  gap: 8rem;

  .bio {
    grid-area: AAAA;
    display: flex;
    align-items: center;
    gap: 4rem;

    img {
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      width: 375px;
      max-width: 35%;

      pointer-events: none;
    }
  }

  .timelineAndSkillset {
    display: flex;
    gap: 8rem;

    .timeline {
      grid-area: BBBB;

      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .verticalLine {
        margin: 1rem 0;
      }

      .timelineRow {
        display: flex;
        align-items: center;
        gap: 1rem;

        .timelineCaption {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
        }

        svg {
          display: flex;
          align-items: center;
        }
      }
    }

    .skillset {
      grid-area: CCCC;

      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      .header {
        display: flex;
        align-items: center;

        justify-content: space-between;

        select {
          border-radius: $borderRadius;
          font-size: var(--small);
          padding: 0.5rem;
          font-family: $primaryFont;
          background-color: var(--background-color);
          border-radius: 0;
          border: 2px solid var(--accent-color);
          color: var(--faded-color);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNSAyTDggN0wxNC41IDJMITFaIiBzdHJva2U9IiM4MTdlODMiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIgLz48L3N2Zz4=");
          background-repeat: no-repeat;
          background-position: right 1rem center;
          background-size: 12px 6px;
          padding-right: 2.5rem;

          &:focus {
            outline: none;
          }
        }
      }

      .skills {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        flex-wrap: wrap;

        .item {
          flex: 1;
          padding: 0.5rem 0.75rem;
          border-radius: $borderRadius;

          white-space: nowrap;

          text-align: center;

          display: flex;
          align-items: center;
          justify-content: center;

          gap: 0.5rem;

          .icon {
            display: flex;
          }
        }
      }
    }
  }
}

@font-face {
  font-family: "Kyiv Type Sans";
  src: url(../src/fonts/KyivTypeSans-VarGX.ttf) format("truetype");

  font-display: swap;
  font-weight: 1 1000;
}

* {
  box-sizing: border-box;
  margin: 0;
  backface-visibility: hidden;
}

h1 {
  font-size: var(--h1);

  &.extra {
    font-size: var(--h0);
  }
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);

  &.nonBold {
    font-weight: 400;
  }
}

h5 {
  font-size: var(--h5);

  &.nonBold {
    font-weight: 400;
  }
}

h6 {
  font-size: var(--h6);

  &.nonBold {
    font-weight: 400;
  }
}

p {
  font-size: var(--p);
}

small {
  font-size: var(--small);

  &.smaller {
    font-size: var(--smaller);
  }
}

html {
  background-blend-mode: overlay;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $primaryFont;
  color-scheme: var(--theme);
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    cursor: pointer;
  }
}

.faded {
  color: var(--faded-color);
}

.accent {
  color: var(--accent-color);
}

.linkWithIcon {
  position: relative;
  text-decoration: none;
  color: var(--text-color);

  padding-bottom: 5px;
  padding-right: 5px;

  display: flex;

  gap: 0.5rem;

  border-bottom: 2px dashed;

  transition: font-variation-settings 0.5s, color 0.25s, scale 0.25s;

  font-variation-settings: $fontVarNormal;

  picture {
    display: flex;
  }

  svg {
    fill: var(--text-color);
    transition: fill 0.5s;
  }

  &:hover {
    font-variation-settings: $fontVarThin;
    color: var(--accent-color);
    scale: $scaleOnHover;

    svg {
      fill: var(--accent-color);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--text-color);
    transition: transform 0.5s, background-color 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
    background-color: var(--accent-color);
  }
}

.linkWithIconOnly {
  display: block;
  line-height: normal;

  transition: scale 0.25s;

  transform-origin: center;

  picture {
    display: flex;
  }

  svg {
    fill: var(--faded-color);
    transition: fill 0.25s;
  }

  &:hover {
    scale: $scaleOnHover;
  }

  &:hover svg {
    fill: var(--accent-color);
  }
}

.pixelGrid {
  margin: 0;
  padding: 0;
  position: fixed;
  gap: 0;
  inset: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100dvh;
  z-index: 998;

  display: none;

  .pixelItem {
    width: 100%;
    height: 100%;
    background: var(--accent-color);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;

  z-index: 5;

  .navButtons {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      transition: color 0.25s, scale 0.25s, font-variation-settings 0.5s;

      font-variation-settings: $fontVarNormal;

      &:hover {
        scale: $scaleOnHover;
        color: var(--accent-color);
        font-variation-settings: $fontVarThin;
      }
    }

    span {
      transition: scale 0.25s;

      svg {
        transition: fill 0.25s;
      }

      &:hover {
        scale: $scaleOnHover;
      }

      &:hover svg {
        fill: var(--accent-color);
      }
    }
  }

  .logoButton {
    font-family: "Arial";

    transition: color 0.25s, scale 0.25s;

    &:hover {
      cursor: pointer;
      scale: $scaleOnHover;
      color: var(--accent-color);
    }
  }

  .hamburgerButton {
    transition: scale 0.25s;

    &:hover {
      scale: $scaleOnHover;
    }

    svg {
      display: flex;

      transition: fill 0.25s;
    }

    &:hover svg {
      fill: var(--accent-color);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .themeButton {
    position: relative;

    svg {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .resetButton {
    svg {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

footer {
  position: fixed;

  bottom: 0;
  left: 0;

  display: flex;

  justify-content: flex-end;

  width: 100%;

  padding: 1.5rem 2rem;
}

.menu {
  position: fixed;

  width: 100%;
  height: 100vh;

  z-index: 999;

  font-size: 7vw;

  display: none;

  opacity: 0;
  visibility: hidden;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4rem;

  svg {
    display: flex;
    fill: var(--background-color);
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.25rem;
    margin-right: 0.75rem;
  }

  a {
    color: var(--background-color);

    transition: scale 0.25s, font-variation-settings 0.5s;

    font-variation-settings: $fontVarNormal;

    &:hover {
      scale: $scaleOnHover;
      font-variation-settings: $fontVarThin;
    }
  }

  .closeButton:hover {
    cursor: pointer;
  }

  .themeButton:hover {
    cursor: pointer;
  }

  .resetButton {
    svg {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// make nav have background
@media screen and (max-width: $makeNavBackgroundWidth) {
  nav {
    background-color: var(--background-color);
    box-shadow: $boxShadow;
  }
}

// mobile screen
@media screen and (max-width: $minMaxWidth) {
  :root {
    --h0: calc(var(--h1) * 1.5);
    --h1: 2.027rem;
    --h2: 1.802rem;
    --h3: 1.602rem;
    --h4: 1.424rem;
    --h5: 1.266rem;
    --h6: 1.125rem;
    --p: 1rem;
    --small: 0.889rem;
    --smaller: calc(var(--small) / 1.25);
  }

  .aboutWrapper {
    max-width: $maxWidthMobile;

    h1 {
      text-align: center;
    }

    .bio {
      flex-direction: column;
      gap: 0;

      img {
        margin-top: 1rem;
        width: 400px;
        max-width: 100%;
      }
    }

    .timelineAndSkillset {
      flex-direction: column;

      .skillset {
        height: 350px;
      }
    }
  }

  .homeWrapper {
    max-width: $maxWidthMobile;

    padding: 8rem 0;
    margin: auto;

    display: flex;
    flex-direction: column-reverse;

    gap: 4rem;

    .left {
      margin: 0;
    }

    .right {
      position: static;

      height: fit-content;
    }
  }

  .projectWrapper {
    max-width: $maxWidthMobile;
  }

  nav {
    background-color: var(--background-color);
    box-shadow: $boxShadow;

    .navButtons {
      display: none;
    }
  }

  footer {
    position: unset;
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    font-size: 10vh;

    svg {
      width: 7vh;
    }
  }
}

// desktop screen
@media screen and (min-width: $minMaxWidth) {
  nav {
    .hamburgerButton {
      display: none;
    }
  }
}

.test {
  .buttons-container {
    padding: 2rem 0;
    display: inline-flex;
    text-align: left;
    font-size: 1.35em;
  }

  label {
    display: block;
  }

  .container {
    width: 96vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .item {
    display: inline-flex;
    width: 200px;
    height: 150px;
    margin: 5px;
  }

  .logo {
    position: absolute;
    width: 60px;
    bottom: 20px;
    right: 30px;
  }

  .purple {
    background-color: rgb(125, 70, 150);
  }

  .green {
    background-color: green;
  }

  .orange {
    background-color: orange;
  }
}