$primaryFont: "Kyiv Type Sans";

$borderRadius: 12px;

$minMaxWidth: 1050px;
$makeNavBackgroundWidth: $minMaxWidth + 200px;

$lightBoxShadow: rgba(0, 0, 0, 0.25);
$darkBoxShadow: rgba(0, 0, 0, 0.5);
$boxShadow: 0 0 48px 1px light-dark($lightBoxShadow, $darkBoxShadow);

$maxWidthDesktop: 700px;
$maxWidthDesktopWide: 75%;
$maxWidthMobile: 90%;

$fontVarNormal: "wght" 400, "CONT" 1;
$fontVarThin: "wght" 1000, "CONT" 1000;

:root {
  --theme: light dark;

  --text-color: light-dark(black, white);
  --background-color: light-dark(#e5e5ea, rgb(36, 36, 38));
  --faded-color: #817e83;
  --accent-color: light-dark(#6320ee, #8075ff);

  --h0: calc(var(--h1) * 1.5);
  --h1: 2.986rem;
  --h2: 2.488rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --h5: 1.44rem;
  --h6: 1.2rem;
  --p: 1rem;
  --small: 0.833rem;
}

// wrappers

.homeWrapper {
  max-width: $maxWidthDesktopWide;
  margin: auto;

  display: flex;

  gap: 8rem;

  .left {
    margin-top: 8rem;
    margin-bottom: 8rem;

    display: grid;
    gap: 0.25rem;

    height: fit-content;

    .tile {
      padding: 1rem;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      white-space: nowrap;
      justify-content: space-between;
      gap: 2rem;

      transition: scale 0.25s, box-shadow 0.25s, color 0.25s,
        font-variation-settings 0.25s;

      font-variation-settings: $fontVarNormal;

      .title {
        white-space: nowrap;
      }

      &:hover {
        cursor: pointer;

        box-shadow: $boxShadow;
        color: var(--accent-color);
        scale: 1.05;
        font-variation-settings: $fontVarThin;
      }
    }
  }

  .right {
    width: 100%;
    height: 100dvh;

    position: sticky;

    top: 0;

    display: grid;
    justify-content: center;
    align-items: center;

    .name {
      gap: 1rem;
      display: flex;
      width: fit-content;
    }

    .links {
      display: flex;
      gap: 1rem;
    }

    .preview {
      position: absolute;

      pointer-events: none;

      z-index: 1;

      opacity: 0;
      visibility: hidden;
      scale: 0.95;

      img {
        border-radius: $borderRadius;
        width: 100%;
        height: auto;
        box-shadow: $boxShadow;
      }

      // architecture highlight
      span {
        display: flex;
        justify-content: center;

        gap: 0.5rem;

        margin-top: 0.5rem;

        flex-wrap: wrap;

        // architecture highlight item
        small {
          padding: 0.5rem 0.75rem;

          box-shadow: $boxShadow;
          border-radius: $borderRadius;

          font-weight: bolder;
          text-align: center;
          white-space: nowrap;

          background-color: var(--background-color);
        }
      }
    }
  }
}

.projectWrapper {
  max-width: $maxWidthDesktop;

  padding: 8rem 0;
  margin: auto;

  display: none;

  .mobileBackToHomeButton {
    align-items: center;

    padding-bottom: 1rem;
    gap: 0.75rem;
  }

  .backToTopButton {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .content {
    display: grid;
    gap: 4rem;

    img {
      box-shadow: $boxShadow;
    }
  }

  .header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    .title {
      text-align: center;
    }

    .desktopBackToHomeButton {
      cursor: pointer;
    }
  }

  .architecture {
    display: flex;

    justify-content: center;

    column-gap: 0.5rem;

    margin-left: 0;
    padding-left: 0;

    flex-wrap: wrap;

    margin-top: 2rem;
    margin-bottom: 4rem;

    row-gap: 1rem;
    column-gap: 1rem;

    .item {
      box-shadow: $boxShadow;

      background-color: var(--background-color);

      padding: 0.5rem 0.75rem;
      border-radius: $borderRadius;

      white-space: nowrap;

      flex: 1;
      text-align: center;
    }
  }

  .paragraph {
    line-height: 2rem;

    text-align: justify;
  }

  .links {
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;

    white-space: nowrap;
    flex-wrap: wrap;

    justify-content: space-around;
  }

  .imageContainer {
    display: grid;

    gap: 2rem;

    img {
      height: auto;
      width: 100%;
    }
  }
}

.aboutWrapper {
  max-width: $maxWidthDesktopWide;

  margin: auto;
  padding: 8rem 0;

  display: flex;
  flex-direction: column;
  gap: 8rem;

  h1 {
    text-align: center;
  }

  .bio {
    display: flex;
    gap: 2rem;

    img {
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      width: 40%;

      pointer-events: none;
    }
  }

  .timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .verticalLine {
      margin: 1rem 0;
    }

    .timelineRow {
      display: flex;
      align-items: center;
      gap: 1rem;

      .timelineCaption {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      svg {
        display: flex;
        align-items: center;
      }
    }
  }
}

@font-face {
  font-family: "Kyiv Type Sans";
  src: url(../src/fonts/KyivTypeSans-VarGX.ttf) format("truetype");

  font-display: swap;
  font-weight: 1 1000;
}

* {
  box-sizing: border-box;
  margin: 0;
  backface-visibility: hidden;
}

h1 {
  font-size: var(--h1);

  &.extra {
    font-size: var(--h0);
  }
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);

  &.nonBold {
    font-weight: 400;
  }
}

h5 {
  font-size: var(--h5);

  &.nonBold {
    font-weight: 400;
  }
}

h6 {
  font-size: var(--h6);
}

p {
  font-size: var(--p);
}

small {
  font-size: var(--small);
}

html {
  background-blend-mode: overlay;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $primaryFont;
  color-scheme: var(--theme);
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    cursor: pointer;
  }
}

.faded {
  color: var(--faded-color);
}

.accent {
  color: var(--accent-color);
}

.noCursor {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.linkWithIcon {
  position: relative;
  text-decoration: none;
  color: var(--text-color);

  padding-bottom: 5px;
  padding-right: 5px;

  display: flex;

  gap: 0.5rem;

  border-bottom: 2px dashed;

  picture {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.linkWithIconOnly {
  display: block;
  line-height: normal;

  padding: 0.5rem;

  transition: scale 0.25s, box-shadow 0.25s;
  border-radius: $borderRadius;

  transform-origin: center;

  picture {
    display: flex;
  }

  svg {
    transition: fill 0.25s;
  }

  &:hover {
    scale: 1.05;
    box-shadow: $boxShadow;
  }

  &:hover svg {
    fill: var(--accent-color);
  }
}

.pixelGrid {
  margin: 0;
  padding: 0;
  position: fixed;
  gap: 0;
  inset: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100dvh;
  z-index: 998;

  display: none;

  .pixelItem {
    width: 100%;
    height: 100%;
    background: var(--accent-color);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;

  z-index: 5;

  .navButtons {
    display: flex;
    gap: 2rem;
  }

  .logoButton {
    font-family: "Arial";

    &:hover {
      cursor: pointer;
    }
  }

  .hamburgerButton {
    svg {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .themeButton {
    svg {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .resetButton {
    svg {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

footer {
  position: fixed;

  bottom: 0;
  left: 0;

  display: flex;

  justify-content: flex-end;

  width: 100%;

  padding: 1.5rem 2rem;
}

.menu {
  position: fixed;

  width: 100%;
  height: 100vh;

  z-index: 999;

  font-size: 7vw;

  display: none;

  opacity: 0;
  visibility: hidden;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  svg {
    display: flex;
    width: 5vw;
    fill: var(--background-color);
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  a {
    padding: 1rem;
    color: var(--background-color);
    border-radius: $borderRadius;

    transition: box-shadow 0.25s, scale 0.25s, font-variation-settings 0.25s;

    font-variation-settings: $fontVarNormal;

    &:hover {
      box-shadow: $boxShadow;
      scale: 1.05;
      font-variation-settings: $fontVarThin;
    }
  }

  .closeButton:hover {
    cursor: pointer;
  }

  .themeButton:hover {
    cursor: pointer;
  }

  .resetButton {
    svg {
      display: flex;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// make nav have background
@media screen and (max-width: $makeNavBackgroundWidth) {
  nav {
    background-color: var(--background-color);
    box-shadow: $boxShadow;
  }
}

// mobile screen
@media screen and (max-width: $minMaxWidth) {
  .aboutWrapper {
    max-width: $maxWidthMobile;
  }

  .homeWrapper {
    max-width: $maxWidthMobile;

    padding: 8rem 0;
    margin: auto;

    display: flex;
    flex-direction: column-reverse;

    gap: 4rem;

    .left {
      margin: 0;
    }

    .right {
      position: static;

      height: fit-content;
    }
  }

  .projectWrapper {
    max-width: $maxWidthMobile;

    .mobileBackToHomeButton {
      display: flex;
    }

    .header {
      justify-content: center;
      gap: 4rem;

      .desktopBackToHomeButton {
        display: none;
      }
    }
  }

  nav {
    background-color: var(--background-color);
    box-shadow: $boxShadow;

    .navButtons {
      display: none;
    }
  }

  footer {
    position: unset;
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    font-size: 10vh;

    svg {
      width: 7vh;
    }
  }
}

// desktop screen
@media screen and (min-width: $minMaxWidth) {
  .projectWrapper {
    .mobileBackToHomeButton {
      display: none;
    }

    .header {
      .desktopBackToHomeButton {
        display: flex;
      }
    }
  }

  nav {
    .hamburgerButton {
      display: none;
    }
  }
}

.bulletPoint {
  font-weight: 1000;
}
